* {
    margin: 0;
    padding: 0;
}

.container .content .question-header {
    background: #dfe5ff;
    border-radius: 10px;

}
.similar-question .item-text {
    border: none;
    background: #dffff2;
}

.similar-question .item-equation {
    border: none;
    background: #dfe5ff;
}