.container {
    width: 70%;
    margin: 5% auto;
    background: white;
    color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2%;
    gap: 1%;
}


.similar-question-section {
    display: none; /* Initially hide the section */
    width: 100%; /* Set a fixed width */
    position: relative;
    bottom: 0;
    transition: right 1.5s ease;
}

.similar-question-section.show {
    display: block; /* Show the section when the class is added */
    right: 0;
    /*right: -100%;*/
}

.container .content .question-header {
    background: #dfe5ff;
    border-radius: 10px;

}

.container ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border: 1px solid #686868;
    border-radius: 10px;
    margin-bottom: 1%;
    cursor: pointer;
}

.container .buttons {
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    margin-top: 20px;

}


.container .upload-answer {
    width: 170px;
    height: 30px;
    background: #049f20;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    float: right;
}

.container .similar-question-button {
    width: 170px;
    height: 30px;
    background: #00d397; /* Change to desired color */
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    float: left;

}

.container .similar-question-button.enabled {
    background: #00d397; /* Change to desired color */
    color: #ffffff;
}

.container .content-button {
    display: flex;
    justify-content: space-between;
}


.container .correct-answer {
    background: #dffff2;
    border-color: #00d397;
}

.container .incorrect-answer {
    background: #ffdede;
    border-color: #ff0000;

}

.question-section {
    margin-bottom: 05%;
}

