.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button-position {
    display: flex;
    flex-direction: column;
}

.log-banner {
    /*background-color: #f0f0f0; !* Light gray background *!*/
    /*color: #333; !* Dark text color *!*/
    /*text-align: center; !* Center the text *!*/
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Ensures alignment at the top */
    gap: 0.1rem; /* Adds space between sections */
}

.question-app {
    flex: 1; /* Makes it take up available space */
    max-width: 100%; /* Optional: Restrict maximum width */
}

.previous-questions {
    flex: 0 0 23%; /* Fixes the width to 30% */
    max-width: 100%;
    overflow-y: auto; /* Handles overflow content */
}

.questions {
    flex: 0 0 25%;
    max-width: 100%;
    overflow-y: auto;
}


.landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-answer-section {
    width: 100%;
}

.previous-question-list-upload-section {
    width: 30%;
    max-height: 60vh; /* Adjust as needed */
    overflow-y: auto;
}

@media (max-width: 430px) {
    .upload-answer-section {
        width: 80%;
    }

    .previous-question-list-upload-section {
        width: 80%;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .question-app {
        order: 1;
    }

    .questions {
        order: 2;
    }

    .previous-questions {
        order: 3;
    }

}