.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button-position {
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Ensures alignment at the top */
    gap: 1rem; /* Adds space between sections */
}

.question-app {
    flex: 1; /* Makes it take up available space */
    max-width: 100%; /* Optional: Restrict maximum width */
}

.questions {
    flex: 0 0 30%; /* Fixes the width to 30% */
    width: 100%;
    overflow-y: auto; /* Handles overflow content */
}
